<!-- Footer -->
<footer class="bg-warning text-center text-white w-100 xl:position-fixed xl:bottom-0 xl:mb-auto">
  <!-- Grid container -->
  <div class="container p-2">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Instagram -->
      <a style="text-decoration: none" href="https://www.instagram.com/nacho_ignacio3/">
        <i class="fa-brands fa-instagram" style="font-size: 32px; color: black; margin: 6px"></i>
      </a>
      <!-- Github -->
      <a style="text-decoration: none" href="https://github.com/Nacho35/CRUD-De-Libros">
        <i class="fa-brands fa-github" style="font-size: 32px; color: black; margin: 6px"></i>
      </a>

      <!-- Linkedin -->
      <a style="text-decoration: none" href="https://www.linkedin.com/in/ignacio-morales35/">
        <i class="fa-brands fa-linkedin-in" style="font-size: 32px; color: black; margin: 6px"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <h6 class="text-dark">CRUD Por Ignacio Morales</h6>
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->