<footer class="footer">
  <div class="container-fluid bg-warning p-2 overflow-hidden">
    <div class="row text-center">
      <h5>CRUD Por Ignacio Nahuel Morales</h5>
      <div class="col-sm-12">
        <p>Copyright 2022. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
