<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header') %>
    <title>SORRY PROBLEM WITH THE SITE</title>
  </head>
  <body>
    <%- include ('partials/navigation')%>
    <div class="container">
      <h3
        style="
          display: flex;
          font-size: 3rem;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin-top: 4rem;
          justify-content: center;
        ">
        SERVER NOT FOUND
      </h3>
      <img src="/public/404.jpg" alt="404" />
      <p
        style="
          display: flex;
          font-weight: 500;
          font-size: x-large;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin-top: 4rem;
          justify-content: center;
        ">
        HO HO ALGO SALIO MAL!! En Breve Intentaremos Solucionar el Problema
        Disculpe las Molestias.
      </p>
    </div>
  </body>
</html>
