<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header') %>
    <title>SORRY PROBLEM WITH THE SITE</title>
  </head>
  <body>
    <%- include ('partials/navigation')%>
    <div class="container">
      <h3
        style="
          display: flex;
          font-size: 3rem;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          justify-content: center;
        ">
        SERVER NOT FOUND
      </h3>
      <div
        style="display: flex; justify-content: center; background-size: cover">
        <img
          class="img-fluid"
          src="https://img.freepik.com/vector-gratis/ilustracion-concepto-uy-error-404-robot-roto_114360-1920.jpg?w=740&t=st=1671050822~exp=1671051422~hmac=ece1700066f231aaa1881d8732d9f3081a01adfe09374ad3b0ad7ad126c94d3c"
          alt="404" />
      </div>
      <p
        style="
          display: flex;
          font-weight: 500;
          font-size: x-large;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          justify-content: center;
        ">
        Tenemos Dificultades Disculpe Las Molestias.
      </p>
    </div>
  </body>
</html>
