<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header') %>
    <title>Nuevo Libro</title>
  </head>
  <body>
    <div class="container p-4">
      <form class="card card-body" method="POST" action="new-book">
        <div class="form-group mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripcion</label>
          <textarea
            type="text"
            placeholder="Escribe la Sinopsis"
            name="descripcion"
            id="descripcion"
            class="form-control"
            required
            rows="5"></textarea>
        </div>
        <div class="mb-3">
          <label for="a単o" class="form-label">A単o</label>
          <input
            type="number"
            name="a単o"
            id="a単o"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="genero" class="form-label">Genero</label>
          <input
            type="text"
            name="genero"
            id="genero"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input
            type="text"
            name="author"
            id="author"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="url" class="form-label">Imagen</label>
          <input
            type="url"
            placeholder="www.example.com/image"
            name="url"
            id="url"
            class="form-control"
            required />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="mt-4 btn btn-dark">Agregar Libro</button>
          <input class="btn btn-danger" type="reset" value="Limpiar" />
        </div>
      </form>
    </div>
  </body>
</html>
