<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header') %>
    <title>Nuevo Libro</title>
  </head>
  <body>
    <%- include ('partials/navigation')%>
    <div class="container p-4">
      <form
        class="card card-body needs-validation"
        id="forms"
        method="POST"
        action="/api/books/new-book"
        novalidate>
        <div class="form-group mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripcion</label>
          <textarea
            type="text"
            placeholder="Escribe la Sinopsis"
            name="description"
            id="description"
            class="form-control"
            required
            rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="year" class="form-label">Año</label>
          <input
            type="number"
            name="year"
            id="year"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Genero</label>
          <input
            type="text"
            name="gender"
            id="gender"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input
            type="text"
            name="author"
            id="author"
            class="form-control"
            required />
        </div>
        <div class="mb-3">
          <label for="url" class="form-label">Imagen</label>
          <input
            type="url"
            placeholder="www.example.com/image"
            name="url"
            id="url"
            class="form-control"
            required />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-dark m-2">Agregar Libro</button>
          <button class="btn btn-danger m-2" type="reset">Limpiar</button>
        </div>
      </form>
      <script>
        (() => {
          "use strict";

          const forms = document.querySelectorAll(".needs-validation");

          Array.from(forms).forEach((form) => {
            form.addEventListener(
              "submit",
              (event) => {
                if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
                }

                form.classList.add("was-validated");
              },
              false
            );
          });
        })();
      </script>
    </div>
    <%- include ('partials/footer')%>
  </body>
</html>
